body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#hero-heading {
  font-size: 50px;
  padding-left: 1rem;
  font-weight: 700;
}
#herobutton1 {
  background: linear-gradient(to right, #0147ff, #0147ff00);
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
}

/* comments */
#timer {
  font-size: 50px;
  padding-left: 1rem;
  font-weight: 700;
}

@media (min-width: 768px) {
  #timer {
    font-size: 130px;
    padding-left: 3rem;
  }
}

@media (min-width: 992px) {
  #timer {
    font-size: 150px;
    padding-left: 3rem;
  }
}

@media (max-width: 500px) {
  #speakerimages {
    padding-left: 40px;
  }
}
@media (max-width: 500px) {
  #tickets {
    padding-left: 100px;
  }
}
@media (max-width: 500px) {
  .conclusionofdays {
    font-size: 15px;
  }
}

@media (min-width: 768px) {
  #hero-heading {
    font-size: 100px;
    padding-left: 3rem;
  }
}

@media (min-width: 992px) {
  #hero-heading {
    font-size: 120px;
    padding-left: 3rem;
  }
}

@media (max-width: 500px) {
  body {
    pad: auto;
    padding-left: 20px;
  }
}
@media (max-width: 500px) {
  #past-attendeesid {
    left: -10px;
    margin: 10px;
  }
}
@media (max-width: 800px) {
  #past-attendeesid {
    left: -10px;
  }
}
